.articles {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @media screen and (max-width: 768px) {
    li {
      font-size: 0.9rem;
    }
  }

  a:hover {
    text-decoration: none;
  }
}
