.article-container {
  .section {
    span {
      font-size: 10px;
      vertical-align: top;
      font-weight: bold;
    }
    span:hover {
      cursor: pointer;
    }
  }

  .bibliography {
    span {
      border-bottom: 1px solid #000099;
    }
    li{
      margin-top: 0.5rem;
    }
  }

  #kineret-sign p {
    font-family: Guttman Haim;
    letter-spacing: 1px;
    margin-block-end: 0;
  }

 

  @media screen and (max-width: 768px) {
    h3,
    h4 {
      font-size: 1.1rem;
    }
  }
}
